In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('Spotify-2000.csv')

In [4]:
nothot=data[["Title","Artist"]]

In [5]:
nothot

                       Title                    Artist
0                    Sunrise               Norah Jones
1                Black Night               Deep Purple
2             Clint Eastwood                  Gorillaz
3              The Pretender              Foo Fighters
4     Waitin' On A Sunny Day         Bruce Springsteen
...                      ...                       ...
1989        Heartbreak Hotel             Elvis Presley
1990               Hound Dog             Elvis Presley
1991         Johnny B. Goode               Chuck Berry
1992               Take Five  The Dave Brubeck Quartet
1993          Blueberry Hill               Fats Domino

[1994 rows x 2 columns]